.cart__bttn {
  width: 374px;
  height: 45px;
  border-radius: 2px;
  background: #ff6900;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
}

.color_container {
  display: flex;
  flex-direction: column;

  span {
    display: grid;
  }
}

button {
  cursor: pointer;
}

hr {
  background: #d2d2d2;
  width: 85%;
  height: 1px;
  border: none;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}

.stock {
  color: #000;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.specs__wrapper {
  display: flex;

  width: 500px;
}
.bg_controller {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);

  border-radius: 25px;
}
.bg_controller div:nth-child(odd) {
  background: #e8e8e8;
}
.bg_controller div:nth-child(even) {
  background: #ffffff;
  box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.25);
}
.bg_controller div {
  display: grid;
  grid-template-columns: 250px 250px;
  justify-items: center;
  width: 500px;
  height: 42px;
  justify-content: start;
  align-content: center;
}

.specs__wrapper {
  display: flex;
  width: 500px;
}

.bg_controller {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}
.spec__header {
  color: #000;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin: 38px;
}

.specs__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  height: 42px;
  align-items: center;
  padding: 0 10px;
  margin: 25px;
}

.specs__row strong {
  font-weight: bold;
  text-align: left;
}

.specs__value {
  text-align: right;
  font-weight: normal;
}
