.cart__bttn {
  width: 374px;
  height: 45px;
  border-radius: 2px;
  background: #ff6900;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
}
.error__wrapper {
  background-image: url(https://i.imgur.com/Iv8Wt0G.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  /*   background-attachment: fixed; */
}
.test_555 {
  position: absolute;
  top: 15px;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 47%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.color_container {
  display: flex;
  flex-direction: column;

  span {
    display: grid;
  }
}

button {
  cursor: pointer;
}

hr {
  background: #d2d2d2;
  width: 85%;
  height: 1px;
  border: none;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}

.stock {
  color: #000;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.specs__wrapper {
  display: flex;
  width: 500px;
  position: relative;
}

.bg_controller {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.bg_controller::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background: #d2d2d2;
  z-index: 51;
}

.bg_controller div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  height: 42px;
  align-items: center;
  padding: 0 18px;
  border-bottom: 1px solid #d2d2d2;
}

.bg_controller div:last-child {
  border-bottom: none;
}

.bg_controller div:nth-child(odd) {
  background: #f5f5f5;
}

.bg_controller div:nth-child(even) {
  background: #ffffff;

  box-shadow: none;
}

.spec__header {
  color: #000;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin: 38px;
}

.specs__row {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  height: 42px;
  align-items: center;
  padding: 0 10px;
  margin: 0;
  background: transparent;
}

.specs__row strong {
  font-weight: bold;
  text-align: left;
  padding-right: 16px;
}

.specs__value {
  text-align: right;
  font-weight: normal;
  padding-left: 10px;
}
