@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.payment_Text {
  text-align: start;
}
.payment_Text span {
  font-weight: 600;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-icons {
  width: 150px;
}
footer {
  position: absolute;
  bottom: 0;
}
